.text {
    -fx-fill: #333;
    -fx-font-size: 14px;
    -fx-font-weight: 300;
    -fx-color: #ffffff;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-color: #fff;

    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-transition: background 0.3s, text-fill 0.3s;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.button .text {
    -fx-fill: #fff;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.toggle-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-color: #fff;

    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-transition: background 0.3s, all 0.3s;

    -fx-effect: dropshadow(gaussian, rgba(92, 92, 92, 0.2), 10, 0, 0, 5);
}

.toggle-button:hover {
    -fx-background-color: #e55d52;
}

.toggle-button:hover .text {
    -fx-fill: #fff;
}

/* Стилизация выпадающего списка в ComboBox */
.combo-box {
    -fx-background-color: #2c3e50;
    -fx-text-fill: #ecf0f1;
    -fx-border-color: #3498db;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0 , 0 , 5 );
}

.combo-box .text {
    -fx-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #2c3e50;
    -fx-text-fill: #ecf0f1;
}

.combo-box .arrow-button {
    -fx-background-color: #3498db;
    -fx-background-radius: 0;
}

.combo-box .arrow-button:hover {
    -fx-background-color: #2980b9;
}

.combo-box .list-view {
    -fx-background-color: #2c3e50;
    -fx-text-fill: #ecf0f1;
}


/* Стилизация кнопки input */
.text-field {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-color: #3498db;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0 , 0 , 5 );
}

.text-field:hover {
    -fx-border-color: #2980b9;
}

.text-field:focused {
    -fx-border-color: #2980b9;
}

.text-field:focused .text-input {
    -fx-text-fill: #2c3e50;
}

.text-field .text-input {
    -fx-text-fill: #2c3e50;
}